<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question 2</title>
</head>
<body>
    <h1>Сон</h1>
    <form method="post">
    <fieldset>
        <legend>Когда вы ложитесь спать, вас не оставляют мысли о грабителях, ураганах и других катастрофах.</legend>
        <input type="radio" name="fear" value="yes" required>Да, это про меня<br>
        <input type="radio" name="fear" value="no">Нет, такого не бывает<br>
    </fieldset>
        <button type="submit">Далее</button>
    </form>
</body>
</html>